:root {
  /* scale */

  --text-large: 1.3rem;

  --gap: 2rem;

  --radius-small: 1em;
  --radius-big: 2em;

  /* easings */
  --ease-cubic: cubic-bezier(0.33, 1, 0.68, 1);

  /* color variables */

  --dark-background: #191627;
  --light-background: #f7ece1;
  --primary: #995fa3;
  --secondary: #8d86c9;
  --secondary-hover: #7d76b9;
  --test-color: #a8a8ec;
  --text-bold: #ffadff;

  /* default dark colorscheme */

  --text: white;
  --background: var(--dark-background);
  --surface: var(--black-1);

  /* common styles */

  --shadow-color: #8882;
  --shadow-size: 60px;
  --shadow-rim-size: 8px;
  --shadow-rim-color: #bbb2;
  --shadow: 0 0 var(--shadow-size) calc(var(--shadow-size) * -0.2) var(--shadow-color),
    0 0 var(--shadow-rim-size) var(--shadow-rim-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --text: black;
    --background: var(--light-background);

    --shadow-color: #4444;
    --shadow: 0 0 var(--shadow-size) calc(var(--shadow-size) * -0.2) var(--shadow-color);
  }
}
